<form [formGroup]="evenementForm">

    <div class="container">
        <h1>Evènement</h1>
        <b>Saisie des évènements </b>
        <hr>

        <label for="libelle">
            <b>Libelle</b>
        </label>
        <input type="text" placeholder="libelle" name="libelle" required formControlName="libelle">

        <label for="date">
            <b>Date</b>
        </label>
        <input type="date" placeholder="date de l'évènement" name="date" required formControlName="date">
        <br>
        
        <button type="submit" class="registerbtn" (click)="save()">Valider</button>
        <br>
        <button type="submit " button onclick="href='/accueils' " class="p ">Retour</button>

    </div>



</form>
