
<form [formGroup]="parrainageForm">
<!-- <form action="" method="POST" class="row g-3"> -->

<div class="col-md-6">
    <label for="inputnomEnfant" class="form-label">Nom de l'enfant</label>
    <input type="text" required name="nomEnfant" required formControlName="nomEnfant">
</div>
<div class="col-md-6">
    <label for="inputPrenom" class="form-label">Prenom de l'enfant</label>
    <input type="text" required name="prenomEnfant" required formControlName="prenomEnfant">
</div>
<div class="col-md-6">
    <label for="inputDate" class="form-label">Date de naissance de l'enfant</label>
    <input type="date" required name="dateNaissEnfant" required formControlName="dateNaissEnfant">
</div>
<div class="col-md-6">
    <label for="inputSexe" class="form-label">Sexe de l'enfant</label>
    <input type="text" required name="sexe" required formControlName="sexe">
</div>
<div class="col-md-6">
    <label for="inputDate" class="form-label">Date de parrainage</label>
    <input type="date" name="dateParrainage" required required formControlName="dateParrainage">
</div>
<div class="col-md-6">

</div>
<div class="col-12">
    <label for="inputEcole" class="form-label">Ecole de l'enfant</label>
    <input type="text" required name="ecole" required formControlName="ecole">
</div>
<div class="col-md-6">
    <label for="inputVillage" class="form-label">Village</label>
    <input type="text" required name="village" required formControlName="village">
</div>
<div class="col-md-6">
    <label for="inputPhoto" class="form-label">Photo</label>
    <input type="text" required name="photo" required formControlName="photo">
</div>


<div>
<button type="submit" class="registerbtn" (click)="save()">Valider</button>
</div>
<br>
<br>
<button type="submit " button onclick="href='/accueils' " class="p ">Retour</button>

</form>