<form [formGroup]="projetHumanitaireForm">

    <div class="container">
        <h1>Projets</h1>
        <b>Présentation des projets humanitaire de KabeBénin
        </b>
        <hr>

        <label for="libelle">
            <b>Libelle</b>
        </label>
        <input type="text" placeholder="libelle" name="libelle" required formControlName="libelle">

        <label for="description">
            <b>Description</b>
        </label>
        <input type="text" placeholder="Description du produit" name="description" required
            formControlName="description">

        <!-- <label for="photo">
            <b>Photo</b>
        </label>
        <input type="text"name="photo" required formControlName="photo">

        <label for="evenement">
            <b>Evenement</b>
        </label>
        <input type="text"  name="evenement" required formControlName="evenement"> -->



        <button type="submit" class="registerbtn" (click)="save()">Valider</button>
    </div>
    <br>
    <br>
    <button type="submit " button onclick="href='/accueils' " class="p ">Retour</button>





</form>