{% extends 'base.html.twig' %} {% block title %} Connexion {% endblock %} {% block body %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>

    <body>

<style>
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

h2{
    text-align: center;
}

img.avatar {
   margin-left: 30%;
  width: 40%;
  border-radius: 50%;
  
}

a{
  padding: 14px 20px;
    background-color: #f44336;
    border-radius:2px ;
    color:white
}

</style>

   
<form action="/action_page.php" style="max-width:500px;margin:auto">
  <h2>Se connecter</h2>
  <br>
  <img src="images/Accueil/avatar.jpg" alt="Avatar" class="avatar">
  <br>
  <br>
  <div class="input-container">
    <i class="fa fa-envelope icon"></i>
    <input class="input-field" type="text" placeholder="Email" name="email">
  </div>
  
  <div class="input-container">
    <i class="fa fa-key icon"></i>
    <input type="password" placeholder="Mot de passe" name="password" id="myInput">
  </div>

  <input type="checkbox" onclick="myFunction()">Afficher le mot de passe <br> <br>
  <button type="submit" class="btn">Valider</button>
<br>
<br>
  <a button onclick="href='/accueils'" value="accueil">Retour</a>


</form>

<script>
  function myFunction() {
    var x = document.getElementById("myInput");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
  </script>



    {% endblock %}