{% extends 'base.html.twig' %}
{% block title %}Faire un don
{% endblock %}
{% block body %}

	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">

			<link rel="stylesheet" href="{{asset('css/FaireUnDon.css')}}">

		</head>

		<body>

        
    <div id="conteneur1">
      <fieldset>
        <legend>Montant de votre don :</legend>
        <label class="container">5 euros
          <input type="radio" checked="checked" name="radio">
          <span class="checkmark"></span>
        </label>
        <br>
        <label class="container">10 euros
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
        <br>
        <label class="container">20 euros
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
        <br>
        <label class="container">50 euros
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
        <br>
        <label class="container">Saisir un montant
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
        <div class="montant"> <input type="text" placeholder="montant minimum 5€ " name="montant" required> </div>
      </fieldset>
      
    <div><img src="images/FaireUnDon/logo-deduction-fiscale.jpg" alt="banniere" class="don"></div>
  </div>
    
    <br>
    <a button class="p"button onclick="href='/paiementDons'"value="suivant">Suivant</a></button>




	</body>
	</html>
{% endblock %}