<form [formGroup]="donForm">

    <div class="container">
        <h1>Don</h1>
        <b>Saisie des Dons </b>
        <hr>

        <label for="montant">
            <b>Montant</b>
        </label>
        <input type="number" placeholder="montant" name="montant" required formControlName="montant">

        <label for="date">
            <b>Date</b>
        </label>
        <input type="date" placeholder="date du don" name="date" required formControlName="date">
        <br>
        
        <button type="submit" class="registerbtn" (click)=save()>Valider</button>
        <br>
        <button type="submit " button onclick="href='/accueils' " class="p ">Retour</button>
    </div>


</form>
